* {
  box-sizing: border-box;
}
body {
  font-family: 'Mulish', sans-serif;
}
.nav-list li a {
text-decoration: none;
color:gray ;
}
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 90px;
}
.nav-list li {
  list-style-type: none;
}
.nav-bar-img {
  margin-right: 40px;
  width: 160px;
  height: 40px;
}
.nav-list-item {
  font-weight: bold;
  color:black;
}
.nav-list li {
  padding: 0;
  margin: 0 10px;
}
.page-hero {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
}
.page-hero1 {
  width: 500px;
  padding: 40px;
  align-items: center;
}
h1 {
  font-size: 48px;
line-height: 56px;
}
p {
  margin: 0;
  padding: 0;
line-height: 32px;
color: #7D7987;
}
.page-hero img {
  width: 450px;
  padding: 20px;
}
.button1 {
  margin-top: 40px;
  width: 130px;
  height: 35px;
  color: white;
  background-color: rgba(69, 143, 246, 1);
  border-radius: 50px;
  cursor: pointer;
}
.page2-header {
  text-align: center;
}
.page2-header h2 {
  font-size: 36px;
line-height: 56px;
}
.page2-header p {
  display: inline-block;
  width: 900px;
  color: rgba(125, 121, 135, 1);
}
.page2-hero {
  display: flex;
  justify-content: space-evenly;
}
.page2-hero div {
  margin: 17px;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}
.page2-hero div p {
  font-weight: 300;
font-size: 16px;
line-height: 24px;
}
.page2-hero div h3 {
  font-size: 24px;
line-height: 56px;
}
.button2 {
  margin-top: 50px;
  background-color: transparent;
  color: rgba(69, 143, 246, 1);
  border-color:rgba(69, 143, 246, 1);
  border-radius: 50px;
  cursor: pointer;
  width: 130px;
  height: 35px;
}
hr {
  width: 50px;
}
.activity {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
}
.activity-text {
  width: 450px;
  text-align: left;
  padding: 30px;
}
.activity-img {
  margin-top: 50px;
  width: 400px;
  align-items: center;
  padding-left: 50px;
}
.activity-text h2 {
  margin: 0;
  font-size: 36px;
  line-height: 56px;
}
.activity-img1 {
  margin-top: 50px;
  width: 400px;
  align-items: center;
  padding-right: 50px;
}
.activity-text hr {
  display: inline-block;
}
.testimonials {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.qutes {
  text-align: center;
  border-radius: 20px;
  width: 950px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
}
.qutes div {
  display: flex;
  justify-content: space-between;
}
.qutes h2 {
  color: white;
  font-size: 36px;
  line-height: 48px;
}
.qutes1 {
  display: block;
  color: white;
  font-size: 22px;
}
.testimonials1 {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 50px;
}
.qutes2 {
  color: white;
}
.buttons {
  display: flex;
  justify-content: center;
}
.nav-button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: rgba(91, 155, 243, 1);
  margin: 20px 40px;
  font-size: 36px;
}
.nav-button-item {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 20px 10px;
  font-size: 36px;
  color: rgba(91, 155, 243, 1);
}
.nav-button-item1 {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 20px 10px;
  font-size: 36px;
  color: rgba(91, 155, 243, 0.5)
}
.latest-article {
  display: flex;
  justify-content: space-evenly;
}
.check-list {
  width: 320px;
  height: 495px;
  margin: 20px;
  border-radius: 20px;
}
.check-list img {
  width: 320px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.check-list h3 {
  font-size: 21px;
line-height: 32px;
}
.check-list h3, p, a {
  padding: 10px 20px;
}
.check-list a {
  text-decoration: none;
}
.button3 {
  margin-top: 50px;
  margin-bottom: 150px;
  background-color: transparent;
  color: rgba(69, 143, 246, 1);
  border-color:rgba(69, 143, 246, 1);
  border-radius: 50px;
  cursor: pointer;
  width: 150px;
  height: 45px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  height: 300px;
  padding: 50px;
}
.footer-nav h3 {
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
.footer-nav1 p {
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
 .footer-nav-list {
  padding: 0;
  margin: 20px;
  color: white;
  list-style-type: none;
}
.footer-nav h3 {
  margin: 20px;
}
.footer-nav1 {
  width: 390px;
}